* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body, html {
  height: 100%;
} */

body {
  /* background-image: url("/Cluovu\ 5348\ Garfield\ Avenue\ Orchard\ Park.png"); */
  background: url("../images/christmas-background.JPG");
  /* background-image: url("/advent-calendar-2915165_1280.png"); */

  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.number-container {
}

.number {
  width: 80px;
  height: 80px;
  margin: 20px;
  text-align: center;
  background-color: #de5046;
  border: 2px solid #000;
  font-size: 20px;
}

#quiz {
  font-size: 40px;
}

#answers {
  font-size: 32px;
  color: #080;
}

.answers {
  text-align: center;
}
