* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body, html {
  height: 100%;
} */

body {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.number {
  width: 80px;
  height: 80px;
  margin: 20px;
  text-align: center;
  background-color: #de5046;
  border: 2px solid #000;
  font-size: 20px;
}

#quiz {
  font-size: 40px;
}

#answers {
  font-size: 32px;
  color: #080;
}

