* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.number {
  width: 80px;
  height: 80px;
  margin: 20px;
  text-align: center;
  background-color: #de5046;
  border: 2px solid #000;
  font-size: 20px;
}

#quiz {
  font-size: 40px;
}

#answers {
  font-size: 32px;
  color: #080;
}

/* -- responsive design -- */
@media only screen and (width: 1024px) {
  .number {
    width: 110px;
    height: 110px;
    margin: 25px;
  }
  #answerA,
  #answerB,
  #answerC,
  #quiz {
    font-size: 48px;
  }
}

@media only screen and (max-width: 992px) {
  .number {
    width: 80px;
    height: 80px;
    margin: 10px;
  }
  #quiz {
    font-size: 36px;
  }

  #answerA,
  #answerB,
  #answerC {
    font-size: 28px;
  }
}

@media only screen and (max-width: 576px) {
  .number {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  #quiz {
    font-size: 30px;
  }
  #answerA,
  #answerB,
  #answerC {
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .number {
    width: 60px;
    height: 60px;
    margin: 8px;
    font-size: 12px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 18px;
  }
  img {
    width: 20px;
  }
  body {
    height: 100vh;
  }
}

@media only screen and (max-width: 380px) {
  .number {
    width: 50px;
    height: 50px;
  }
  body {
    height: 100vh;
    width: 100%;
  }
  #quiz {
    font-size: 24px;
  }
}

@media only screen and (max-width: 320px) {
  body {
    height: 100vh;
  }
  .number {
    width: 45px;
    height: 45px;
    margin: 4px;
  }
  #answerA,
  #answerB,
  #answerC {
    font-size: 20px;
  }
}
